<?xml version="1.0"?>
<launch>
        <!-- MAVROS and vehicle configs -->
        <arg name="ID" value="3"/>
        <arg name="fcu_url" default="udp://:1454$(arg vehicle)@localhost:1458$(arg vehicle)"/>
        <!-- PX4 SITL and vehicle spawn -->
        <include file="$(find px4)/launch/single_vehicle_spawn.launch">
            <arg name="x" value="1"/>
            <arg name="y" value="0"/>
            <arg name="z" value="0"/>
            <arg name="R" value="0"/>
            <arg name="P" value="0"/>
            <arg name="Y" value="0"/>
            <arg name="vehicle" value="$(arg vehicle)"/>
            <arg name="mavlink_udp_port" value="1456$(arg vehicle)"/>
            <arg name="mavlink_tcp_port" value="456$(arg vehicle)"/>
            <arg name="ID" value="$(arg ID)"/>
        </include>
        <!-- MAVROS -->
        <arg name="tgt_system" default="2" />
        <arg name="mavros_id" default="mavros$(arg ID)" />
        <arg name="tgt_component" default="1" />
        <arg name="log_output" default="screen" />
        <arg name="fcu_protocol" default="v2.0" />
        <arg name="respawn_mavros" default="false" />
        <include file="$(find gps_vicon_control)/launch/node.launch">
            <arg name="pluginlists_yaml" value="$(find gps_vicon_control)/launch/px4_pluginlists.yaml" />
            <arg name="config_yaml" value="$(find gps_vicon_control)/launch/px4_config.yaml" />
            <arg name="fcu_url" value="$(arg fcu_url)" />
            <arg name="tgt_system" value="$(eval 1 + arg('ID'))"/>
            <arg name="gcs_url" value="" />
            <arg name="system_id" value="$(arg tgt_system)" />
            <arg name="mavros_id" value="$(arg mavros_id)" />
            <arg name="tgt_component" value="$(arg tgt_component)" />
            <arg name="log_output" value="$(arg log_output)" />
            <arg name="fcu_protocol" value="$(arg fcu_protocol)" />
            <arg name="respawn_mavros" default="$(arg respawn_mavros)" />
        </include>

</launch>
